.board {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px);
  justify-content: center;
  align-items: center;
  margin-top: 64px;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent; /* default no border */
  cursor: pointer;
  transition: background-color 0.2s;
  aspect-ratio: 1 / 1;
}

/* top row bottom border */
.cell:nth-child(-n + 3) {
  border-bottom: 2px solid var(--bougee-wood);
}

/* middle row bottom border */
.cell:nth-child(4),
.cell:nth-child(5),
.cell:nth-child(6) {
  border-bottom: 2px solid var(--bougee-wood);
}

/* left column right border */
.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7) {
  border-right: 2px solid var(--bougee-wood);
}

/* middle column right border */
.cell:nth-child(2),
.cell:nth-child(5),
.cell:nth-child(8) {
  border-right: 2px solid var(--bougee-wood);
}

.cell:hover {
  background-color: var(--bougee-gray);
}
