.game {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  max-width: 600px;
  aspect-ratio: 1 / 1;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent; /* default no border */
  cursor: pointer;
  transition: background-color 0.2s;
  aspect-ratio: 1 / 1;
}

/* top row bottom border */
.cell:nth-child(-n + 3) {
  border-bottom: 2px solid var(--bougee-wood);
}

/* middle row bottom border */
.cell:nth-child(4),
.cell:nth-child(5),
.cell:nth-child(6) {
  border-bottom: 2px solid var(--bougee-wood);
}

/* left column right border */
.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7) {
  border-right: 2px solid var(--bougee-wood);
}

/* middle column right border */
.cell:nth-child(2),
.cell:nth-child(5),
.cell:nth-child(8) {
  border-right: 2px solid var(--bougee-wood);
}

.cell:hover {
  background-color: var(--bougee-gray);
}

.stats {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.hints-button {
  border: 2px solid var(--bougee-wood);
  border-radius: 8px;
  background-color: transparent;
  color: var(--bougee-wood);
  padding: 10px 20px;
  font-family: "Fira Code", monospace;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.hints-button:hover {
  background-color: var(--bougee-wood);
  color: var(--white);
}
