* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --light-gray: #f5f5f5;
  --bougee-gray: #ddd;
  --bougee-wood: #6e5745;
}

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Fira Code", monospace;
  background-color: #ffffff; /* #e8e1cf */
  color: #6e5745;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

h1 {
  margin: 16px;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

li {
  transition: all 0.2s ease;
}
li:hover {
  transform: translateY(-2px);
}
