* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Fira Code", monospace;
  background-color: #ffffff; /* #e8e1cf */
  color: #6e5745;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}
